.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.input_container {
  padding: 8px 16px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: #171d1f;
}

.search_input {
  flex: 1;
  background: none;
  color: #bcbcbc;
  border: none;
  font-size: 16px;
  outline: none;
}

.search_btn {
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #81fe88;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0;
}
